@media only screen and (max-width: 768px) {
    div.gallery-item {
        width: calc(50% - 20px);
    }
}

@media only screen and (max-width: 480px) {
    div.gallery-item {
        width: calc(100% - 20px);
    }
}

* {
    box-sizing: border-box;
}

.gallery-item {
    margin: 5px;
    border: 1px solid #ccc;
    width: calc(25% - 20px);
}

.gallery-item:hover {
    border: 1px solid #777;
}

.gallery-item img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.gallery-item div.desc {
    padding: 15px;
    text-align: center;
}

.subnavbar a {
    text-decoration: none;
    color: #333;
    font-weight: 600;
    display: flex;
}

.subnavbar {
    display: flex;
    flex-direction: row;
    gap: 30px;
    cursor: pointer;
    font-size: large;
}

.subnavbar a.snav:hover {
    border-bottom: black 4px solid;
    transform: translate(0, -3px) scale(1.1);
}
